@import "../../../../scss/partials/backlink";

//Variables
$container-id: '#articles-list';
$container-min-width: 300px;

$single-selectors: (
    'classes': (),
    'ids': (
        #{$container-id}: (
            min-width: #{$container-min-width}
        )
    ),
    'tags': (
        'h3': (
            font-size: 24px
        )
    )
);

//Mixins
@mixin single-selectors-loop($map){
    @each $types,$list-type in $map{
        @each $selector,$properties-list in $list-type{
            #{$selector}{
                @each $prop,$val in $properties-list{
                    #{$prop}: #{$val};
                }
            }
        }
    }
}

@mixin compound-selectors-loop($map){
    @each $selector,$properties-list in $map{
        #{$selector}{
            @each $prop,$val in $properties-list{
                #{$prop}: #{$val};
            }
        }
    }
}

@include single-selectors-loop($single-selectors);