@import "../../../../scss/partials/backlink";

//Variables
$container-id: '#articles-list';
$container-min-width: 300px;
$lg-width: 992px;
$single-article-div: '.article';
$single-article-title-div: '.article-title';
$single-article-buttons-div: '.article-buttons';

$single-selectors: (
    'classes': (
        '.article': (
            margin: 30px auto
        )
    ),
    'ids': (
        #{$container-id}: (
            min-width: #{$container-min-width}
        )
    ),
    'tags': (
        'h3': (
            font-size: 24px
        )
    )
);

//Mixins
@mixin single-selectors-loop($map){
    @each $types,$list-type in $map{
        @each $selector,$properties-list in $list-type{
            #{$selector}{
                @each $prop,$val in $properties-list{
                    #{$prop}: #{$val};
                }
            }
        }
    }
}

@mixin compound-selectors-loop($map){
    @each $selector,$properties-list in $map{
        #{$selector}{
            @each $prop,$val in $properties-list{
                #{$prop}: #{$val};
            }
        }
    }
}

@mixin articles-list-responsive(){
    @media only screen and (max-width: #{$lg-width}){
        #{$single-article-div}{
            display: flex;
            flex-direction: column;
            div#{$single-article-title-div}{
                text-align: center;
            }
            div#{$single-article-buttons-div}{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                div{
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
    @media only screen and (min-width: #{$lg-width+1}){
        #{$single-article-div}{
            display: flex;
            div#{$single-article-title-div}{
                width: 65%;
                text-overflow: ellipsis;
            }
            div#{$single-article-buttons-div}{
                width: 35%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                div{
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}

@include single-selectors-loop($single-selectors);
@include articles-list-responsive();

//Execution