<app-title [title]="title"></app-title>
<app-back [backlink]="backlink"></app-back>
<!-- Articles getted from backend -->
<div id="articles-list" *ngIf="done == true">
    <div class="article" *ngFor="let article of articles; index as i">
        <div class="article-title">
            <a class="article-link" href="{{blog_url}}/{{article.permalink}}" target="_blank">
                <h3>{{article.title}}</h3>
            </a>
        </div>
        <div class="article-buttons">
            <input type="hidden" class="article_id" name="article_id" value="{{article.id}}">
            <a mat-raised-button color="primary" class="btn_edit" [routerLink]="[editArticle_url, article.id]">MODIFICA</a>
            <div>
                <input type="hidden" name="article_pos" value="{{i}}">
                <a mat-raised-button color="warn" class="btn_delete" (click)="$event.preventDefault();deleteArticle($event)">ELIMINA</a>
                <div class="spinner-grow ms-4" [ngClass]="{'d-none': spinnerShow != i}" style="width: 3rem; height: 3rem;" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- Error while getting articles -->
<div *ngIf="done == false && message != null" class="alert alert-danger my-5">
    {{message}}
</div>
