<app-title [title]="title"></app-title>
<app-back [backlink]="backlink"></app-back>
<!-- Articles getted from backend -->
<div id="articles-list" *ngIf="done == true">
    <ng-template [ngIf]="articles.length > 0" [ngIfElse]="empty_list">
        <app-article-item [article]="article" [blog_url]="blog_url" [deleteArticle_url]="deleteArticle_url" [editArticle_url]="editArticle_url" [spinnerShow]="spinnerShow" *ngFor="let article of articles; index as i"></app-article-item>
    </ng-template>
    <ng-template #empty_list>
        <div class="alert alert-secondary" role="alert">Nessun articolo da mostrare</div>
    </ng-template>
    
</div>
<!-- Error while getting articles -->
<div *ngIf="done == false && message != null" class="alert alert-danger my-5">
    {{message}}
</div>
