<div class="article">
    <div class="article-title">
        <a class="article-link" [routerLink]="[blog_url,'/',article.permalink]">
            <h3>{{article.title}}</h3>
        </a>
    </div>
    <div class="article-buttons">
        <input type="hidden" class="article_id" name="article_id" value="{{article.id}}">
        <a mat-raised-button color="primary" class="btn_edit" [routerLink]="[editArticle_url, article.id]">MODIFICA</a>
        <div>
            <input type="hidden" name="article_pos" value="{{i}}">
            <a mat-raised-button color="warn" class="btn_delete" (click)="delete()">ELIMINA</a>
            <app-inline-spinner [spinnerId]="spinnerId+i" [showSpinner]="showSpinnerBool"></app-inline-spinner>
        </div>
        
    </div>
</div>

