<div id="footer">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10 pt-5">
            AngularBlog è un'applicazione web che ti permette di creare i tuoi articoli, pubblicarli e modificarli. E' sufficiente registrarsi gratuitamente alla piattaforma per cominciare.
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
            Questa applicazione è sviluppata da <a href="https://github.com/sssteveCA/AngularBlog">Stefano Puggioni</a>.
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
            © 2022 - AngularBlog
        </div>
    </div>
      </div>
</div>
