$footer-height: 200px;
$footer-marginTop: 20px;
$footer-bgColor: rgba(58, 128, 0,0.5);

div#footer{
    margin-top: $footer-marginTop;
    height: $footer-height;
    background-color: $footer-bgColor;
}