
$section-class: ".info-section";

@mixin section-style($selector){
    $sections: 4;
    #{$selector}{
        padding: 25px 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

@include section-style($section-class);