<div class="edit-username container">
    <div class="header">
        <h1 class="text-center">Modifica il tuo account</h1>
    </div>
    <div id="link-back" class="h4">
        <a href="javascript:void(0)" [routerLink] = "['../']">Torna indietro</a>
    </div>
    <app-email [emailObject]="emailObject"></app-email>
    <app-username [usernameObject]="usernameObject"></app-username>
    <app-names [namesObject]="namesObject"></app-names>
    <app-password></app-password>
    <app-delete-account></app-delete-account>
</div>
