<div class="container">
    <div class="edit-username section">
        <div class="header">
            <h3>Modifica nome utente</h3>
        </div>
        <form id="fEditUser" method="post">
            <div class="container-fluid">
                <div class="row">

                </div>
            </div>
        </form>
    </div>
    <div class="edit-password section">
        <div class="header">
            <h3>Modifica la password</h3>
        </div>
        <form id="fEditPwd" method="post">
            <div class="container-fluid">
                <div class="row">
                    
                </div>
            </div>
        </form>
    </div>
    <div class="delete-account section">
        <div class="header">
            <h3>Elimina il tuo account</h3>
        </div>
        <form id="fDelAccount" method="post">
            <div class="container-fluid">
                <div class="row">
                    
                </div>
            </div>
        </form>
    </div>
</div>
