<app-title [title]="title"></app-title>
<app-back [backlink]="backlink"></app-back>
<div id="divSearch" class="nav-item d-flex flex-column flex-sm-row">
  <mat-form-field [ngStyle]="{'width' : '100%' , 'margin-left' : '10px' , 'margin-right' : '10px'}">
    <mat-label>Cerca articolo</mat-label>
    <input matInput id="pageQuery" name="pageQuery" type="search" (click)="requestFailed = false;" #query>
  </mat-form-field>
  <button mat-raised-button color="primary" [ngStyle]="{'padding': '0px 10px'}" (click)="onSearchClick(query)">Cerca</button>
  
</div>
<app-block-spinner [spinnerId]="spinnerId" [showSpinner]="searchSpinner"></app-block-spinner>
<div id="articlesList" *ngIf="!searchSpinner && !requestFailed">
  <ng-template [ngIf]="done && !empty">
    <div class="container-fluid">
      <app-article-list-item *ngFor="let article of articles" [article]="article" [blogUrl]="blogUrl"></app-article-list-item>
    </div>
  </ng-template>
</div>
<div *ngIf="message && requestFailed">
  <ng-template [ngIf]="!done && empty">
    <div [ngStyle]="{'padding': '25px 0px', 'text-align': 'center', 'font-size': '20px','font-weight': 'bold'}">
      {{message}}
    </div>
  </ng-template>
  <ng-template [ngIf]="!done && !empty">
    <app-error [message]="message"></app-error>
  </ng-template>
</div>

