<div class="bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold headerPage">Blog</h1>
    </div>
</div>
<div id="divSearch" class="nav-item d-flex flex-column flex-sm-row">
  <input id="pageQuery" name="pageQuery" type="search" placeholder="Cerca articolo" (click)="requestFailed = false;" #query>
  <button class="btn btn-outline-success" type="button" (click)="onSearchClick(query)">Cerca</button>
</div>
<div class="row mt-5 justify-content-center" [ngClass]="{'d-none':!searchSpinner}">
  <div id="news-spinner" class="spinner-grow"  style="width: 3rem; height: 3rem;" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div id="articlesList" *ngIf="!searchSpinner && !requestFailed">
  <ng-template [ngIf]="done && !empty">
    <div class="container-fluid">
      <app-article-list-item *ngFor="let article of articles" [article]="article"></app-article-list-item>
    </div>
  </ng-template>
</div>
<div *ngIf="message && requestFailed">
  <ng-template [ngIf]="!done && empty">
    <div [ngStyle]="{'padding': '25px 0px', 'text-align': 'center', 'font-size': '20px','font-weight': 'bold'}">
      {{message}}
    </div>
  </ng-template>
  <ng-template [ngIf]="!done && !empty">
    <div class="alert alert-danger text-center" role="alert">{{message}}</div>
  </ng-template>
</div>

