<div class="edit-names info-section my-5">
    <div class="sub-header">
        <h3 class="text-center">Modifica il nome e il cognome</h3>
    </div>
    <form id="fEditNames" method="post" [formGroup]="groupNames" (submit)="editNamesSubmit()">
        <div class="container-fluid">
            <div class="row">
                <mat-form-field appearance="fill">
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" formControlName="name">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="fill">
                    <mat-label>Cognome</mat-label>
                    <input matInput type="text" formControlName="surname">
                </mat-form-field>
            </div>
            <div class="row justify-content-center">
                <div class="col-3 text-center">
                    <button mat-raised-button type="submit" color="primary">MODIFICA</button>
                </div>
            </div>
        </div>
    </form>
    <div class="mt-2 text-center" [class.d-none]="!showNamesSpinner">
        <div class="spinner-grow"  role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <ng-template [ngIf]="namesError">
        <div class="alert alert-danger mt-5 text-center" role="alert">Impossibile rilevare il tuo nome e cognome</div>
    </ng-template>
</div>
