<div id="link-back" class="h4">
    <a href="javascript:void(0)" [routerLink] = "['../']">Torna indietro</a>
</div>
<app-block-spinner [spinnerId]="spinnerId" [showSpinner]="showSpinner"></app-block-spinner>
<div id="article">
    <div *ngIf="!showSpinner && done">
        <div class="container">
            <div class="row row-title">
              <div class="col col-md-8 offset-md-2">
                <h1 class="title text-center">{{articleObj.title}}</h1>
              </div>
            </div>
            <div class="row row-content">
              <div class="col col-md-8 offset-md-2 my-5">
                <div>{{articleObj.content}}</div>
              </div>
            </div>
            <div class="row row-details">
              <div class="col-12 col-md-5 my-3">
                <p>Categorie: <span class="fw-bold">{{articleObj.categories}}</span></p>
                <p>Tag: <span class="fw-bold">{{articleObj.tags}}</span></p>
              </div>
              <div class="col-12 col-md-5 offset-md-2 my-3">
                <p>Autore: <span class="fw-bold">{{articleObj.author}}</span></p>
                <p>Creato il: <span class="fw-bold">{{articleObj.creation_time}}</span></p>
                <p>Ultima modifica: <span class="fw-bold">{{articleObj.last_modified}}</span></p>
              </div>
            </div>
        </div> 
        <app-comments [permalink]="article"></app-comments>
    </div>
    <div *ngIf="!showSpinner && !done && message">
        <app-error [message]="message"></app-error>
    </div>
</div>

