<div class="row mt-5 justify-content-center" [ngClass]="{'d-none':!showSpinner}">
    <div id="news-spinner" class="spinner-grow"  style="width: 3rem; height: 3rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
<div id="article">
    <div *ngIf="!showSpinner && done">
        <app-comments [permalink]="article"></app-comments>
    </div>
    <div *ngIf="!showSpinner && !done && message">
        <div class="alert alert-danger text-center" role="alert">{{message}}</div>
    </div>
</div>

