
@mixin container(){
    height: $fc-height;
    width: $fc-width;
    min-width: $fc-minWidth;
}

@mixin form(){
    position: $form-position;
    top: $form-top;
}

@mixin buttons(){
    width: $bt-width;
    margin: $bt-margin;
}