
//formContainer
$fc-width: 100%;
$fc-minWidth: 300px;

//form
$form-position: relative;
$form-top: 40%;

//buttons
$bt-width: fit-content;
$bt-margin: 20px auto auto;

//registration message
$reg-align: center;

