<nav id="menu" class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <div id="navbarSupportedContent" class="row w-100 flex-column flex-sm-row">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-between col col-sm-8">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="javascript:void(0)" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" [routerLink]="['/blog']">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" [routerLink]="['/chisiamo']">Chi siamo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" [routerLink]="['/news']">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" [routerLink]="['/contatti']">Contatti</a>
          </li>
        </ul>
        <div *ngIf="userCookie['username'] != null; then logged else notlogged" ></div>
        <!-- User logged-->
        <ng-template #logged>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-between col col-sm-2 offset-sm-2">
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)" [routerLink]="['/profile']">{{userCookie['username']}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)" (click)="logout()">Logout</a>
            </li>
          </ul>
        </ng-template>
        <ng-template #notlogged>
          <!-- Guest user -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-between col col-sm-2 offset-sm-2" #notlogged>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)" [routerLink]="['/login']">Accedi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)" [routerLink]="['/register']">Registrati</a>
            </li>
          </ul>
        </ng-template>
      </div>
    </div>
  </nav>
