<nav id="menu" class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <div id="navbarSupportedContent" class="w-100">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-between">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="javascript:void(0)" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" [routerLink]="['/blog']">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" [routerLink]="['/chisiamo']">Chi siamo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" [routerLink]="['/news']">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" [routerLink]="['/contatti']">Contatti</a>
          </li>
          <li id="navForm" class="nav-item d-flex flex-column align-items-center flex-sm-row">
            <input class="form-control me-2" type="search" placeholder="Cerca articolo">
            <button class="btn btn-outline-success" type="button">Cerca</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
