@use "sass:map";

@import "../../../styles.scss";
@import "../../../scss/partials/backlink";

//buttons
$ct-margin: 10px auto auto;

//container
$container-class: "form-container";

//spinner
$contacts-spinner-id: "contacts-spinner";

//textare
$ct-resize: none;

//for buttons contact form
@mixin contactsBtn(){
    margin: $ct-margin;
}

@mixin contacts-style($map){
    $contacts-container-class: map.get($map,"class");
    $contacts-container-init-top: map.get($map,"init-top-pos");
    #{$contacts-container-class}{
        position: relative;
        top: $contacts-container-init-top;
         min-width: 300px;
         ##{$contacts-spinner-id}{
             min-width: 50px;
         }
     } 
 }

 button{
    @include contactsBtn();
}

textarea{
    resize: $ct-resize;
}

@include keyframes($form-container-map);
@include contacts-style($form-container-map);
@include move-appereance-animation($form-container-map);

