//buttons
$ct-margin: 10px auto auto;

//container
$container-class: "main-container";

//spinner
$contacts-spinner-id: "contacts-spinner";

//textare
$ct-resize: none;

//for buttons contact form
@mixin contactsBtn(){
    margin: $ct-margin;
}

@mixin contacts-style(){
    .#{$container-class}{
         min-width: 300px;
         ##{$contacts-spinner-id}{
             min-width: 50px;
         }
     } 
 }

 button{
    @include contactsBtn();
}

textarea{
    resize: $ct-resize;
}

@include contacts-style();

