@use "sass:map";

@import "../../../styles.scss";

//formContainer
$fc-width: 100%;
$fc-height: 100%;
$fc-minWidth: 300px;

//form
$form-position: relative;
$form-top: 0%;

//buttons
$bt-width: fit-content;
$bt-margin: 20px auto auto;

@mixin container(){
    position: relative;
    top: $init-top-pos;
    height: $fc-height;
    width: $fc-width;
    min-width: $fc-minWidth;
}

@mixin form(){
    position: $form-position;
    top: $form-top;
}

@mixin buttons(){
    width: $bt-width;
    margin: $bt-margin;
}

@mixin form-container-style($map){
    $form-container-class: map.get($map,"class");
    #{$form-container-class}{
    @include container();
    form{
        @include form();
        button{
            @include buttons();
        }
    }
}
}

@include keyframes($form-container-map);
@include form-container-style($form-container-map);
@include move-appereance-animation($form-container-map);