<div class="formContainer">
    <h1 class="pt-5 text-center">Registrati</h1>
    <form class="col col-sm-6 mx-auto pt-3" method="post" [formGroup]="formGroup" (submit)="onSubmit()">
        <div class="mb-1">
            <label for="name" class="form-label">Nome</label>
            <input type="text" class="form-control" id="name" name="name" formControlName="name" placeholder="Almeno 3 caratteri">
          </div>
          <div class="mb-1">
            <label for="surname" class="form-label">Cognome</label>
            <input type="text" class="form-control" id="surname" name="surname" formControlName="surname" placeholder="Almeno 2 caratteri">
          </div>
          <div class="mb-1">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" formControlName="username" placeholder="Almeno 5 caratteri">
          </div>
        <div class="mb-1">
          <label for="email" class="form-label">Indirizzo email</label>
          <input type="email" class="form-control" id="email" name="email" formControlName="email">
        </div>
        <div class="mb-1">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" formControlName="password" placeholder="Almeno 6 caratteri" #password>
        </div>
        <div class="mb-1">
            <label for="confPwd" class="form-label">Conferma password</label>
            <input type="password" class="form-control" id="confPwd" name="confPwd" formControlName="confPwd" placeholder="Almeno 6 caratteri" #confPwd>
        </div>
        <div>
          <input type="checkbox" id="cbPass" value="1" (change)="fShowPassword()">
          <label for="cbPass">Mostra password</label>
        </div>
        <div class="mb-1 d-flex flex-column flex-sm-row justify-content-sm-evenly">
            <button type="submit" class="btn btn-primary">REGISTRATI</button>
            <button type="reset" class="btn btn-secondary">ANNULLA</button>
        </div>
      </form>
</div>
