<main role="main" class="inner cover text-center main-container">
    <h1 class="cover-heading">Profilo di {{userCookie['username']}}</h1>
    <p class="lead">In questa pagina puoi modificare le informazioni sul tuo profilo</p>
    <div class="container marketing my-5">

        <!-- Three columns of text below the carousel -->
        <div class="row row-cols-1 row-cols-lg-3">
          <app-profile-item *ngFor="let item of menuItems" [title]="item['title']" [text]="item['text']" [link]="item['link']"></app-profile-item>
        </div><!-- /.row -->
      </div>
</main>
