<main role="main" class="inner cover text-center">
    <h1 class="cover-heading">Profilo di {{usernameCookie}}</h1>
    <p class="lead">In questa pagina puoi modificare le informazioni sul tuo profilo</p>
    <div class="container marketing my-5">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <h2>Il mio account</h2>
            <p>Personalizza le informazioni del tuo profilo</p>
            <p><a class="btn btn-secondary" href="javascript:void(0)" role="button">VAI</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <h2>I miei articoli</h2>
            <p>Gestisci gli articoli che hai postato o creane uno nuovo</p>
            <p><a class="btn btn-secondary" href="javascript:void(0)" [routerLink]="['/profile/myArticles']" role="button">VAI</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <h2>Cronologia azioni effettuate</h2>
            <p>Visualizza o rimuovi tutte le azioni effettuate con questo account</p>
            <p><a class="btn btn-secondary" href="javascript:void(0)" role="button">VAI</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div>
</main>
