<div class="delete-account info-section my-5">
    <div class="sub-header">
        <h3 class="text-center">Elimina il tuo account</h3>
    </div>
    <form id="fDelAccount" method="post" (submit)="deleteAccountSubmit()">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-3 text-center">
                    <button mat-raised-button type="submit" color="warn">ELIMINA</button>
                </div>
            </div>
        </div>
    </form>
    <app-block-spinner [spinnerId]="spinnerId" [showSpinner]="showDeleteProfileSpinner"></app-block-spinner>
</div>
