<div class="formContainer">
    <h1 class="pt-5 text-center">Accedi</h1>
    <form class="col col-sm-6 mx-auto pt-3">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="mb-3 d-flex flex-column flex-sm-row justify-content-sm-evenly">
            <button type="submit" class="btn btn-primary">ACCEDI</button>
            <button type="reset" class="btn btn-secondary">ANNULLA</button>
        </div>
      </form>
</div>
<div class="registerMsg alert alert-primary" role="alert">
  Non sei iscritto? <a href="javascript:void(0)" [routerLink]="['/register']">Crea un'account ora</a>
</div>