<app-title [title]="title"></app-title>
<app-back [backlink]="backlink"></app-back>
<div class="form-container">
    <form class="col col-sm-6 mx-auto pt-3" [formGroup]="loginForm" (submit)="onSubmit()">
        <div class="mb-3">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label for="username">Username</mat-label>
            <input matInput type="text" id="username" name="username" formControlName="username">
          </mat-form-field>
          <div>
              <small class="text-danger"
              *ngIf="loginForm.get('username')?.hasError('required')">
              Campo obbligatorio
            </small>
            <small class="text-danger"
              *ngIf="loginForm.get('username')?.hasError('minlength')">
              Almeno 5 caratteri
            </small>
          </div>
          
        </div>
        <div class="mb-3">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label for="password">Password</mat-label>
            <input matInput type="password" id="password" name="password" formControlName="password" #password>
          </mat-form-field>
          <div>
            <small class="text-danger"
              *ngIf="loginForm.get('password')?.hasError('required')">
              Campo obbligatorio
            </small>
            <small class="text-danger"
              *ngIf="loginForm.get('password')?.hasError('minlength')">
              Almeno 6 caratteri
            </small>
          </div> 
        </div>
        <div>
          <mat-checkbox id="cbPass" value="1" (change)="fShowPassword()">Mostra password</mat-checkbox>
        </div>
        <div class="mb-3 d-flex flex-column flex-sm-row justify-content-sm-evenly">    
        </div>
        <div class="mb-3 d-flex flex-column flex-sm-row justify-content-center justify-content-sm-between">
          <div class="my-3 d-flex justify-content-center align-items-center">
            <button mat-raised-button color="primary" type="submit"raised->ACCEDI</button>
            <app-inline-spinner [spinnerId] = "spinnerId" [showSpinner]="showSpinner"></app-inline-spinner>
          </div>
          <div class="my-3 d-flex justify-content-center align-items-center">
            <button mat-raised-button color="warn" type="reset" class="me-5 me-sm-0">ANNULLA</button>
          </div>
        </div>
      </form>
</div>
<div class="registerMsg alert alert-primary" role="alert">
  Non sei iscritto? <a href="javascript:void(0)" [routerLink]="['/register']">Crea un'account ora</a>
</div>