.formContainer {
  width: 100%;
  min-width: 300px;
}

.formContainer form {
  position: relative;
  top: 40%;
}

.formContainer form button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px auto auto;
}

.registerMsg {
  text-align: center;
}
