<li class="nav-item dropdown" (click)="showHideContent()" #policyItem>
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Informativa</a>
    <ul class="dropdown-menu" [ngClass]="[menuColor]">
        <li>
            <a class="dropdown-item text-white" href="javascript:void(0)" [routerLink]="['/privacy_policy']">Privacy Policy</a>
        </li>
        <li>
            <a class="dropdown-item text-white" href="javascript:void(0)" [routerLink]="['/cookie_policy']">Cookie Policy</a>
        </li>
        <li>
            <a class="dropdown-item text-white" href="javascript:void(0)" [routerLink]="['/terms']">Termini e condizioni</a>
        </li>
    </ul>
</li>

