
$history-elem: ('title','description','date');

@mixin history-item-style($he-list){
    .history-item{
        width: 100%;
        @each $div in $he-list{
            .history-#{$div}{
                padding: 10px;
            }
        }
    }
}

@include history-item-style($history-elem);