<div class="history-item mt-5">
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">TIPO AZIONE</th>
                <td class="history-title">{{title}}</td>
            </tr>
            <tr>
                <th scope="row">DESCRIZIONE</th>
                <td class="history-description">{{description}}</td>
            </tr>
            <tr>
                <th scope="row">DATA AZIONE</th>
                <td class="history-date">{{dateString}}</td>
            </tr>
        </tbody>
    </table>
</div>
