<ng-container *ngIf="authorized == true; else notshowed">
    <!-- Article found -->
    <app-title [title]="title"></app-title>
    <app-back [backlink]="backlink"></app-back>
    <form id="fEdit" method="post" action="#" (ngSubmit)="edit(); $event.preventDefault();" [formGroup]="form">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div>
                        <h5>Titolo</h5>
                    </div>
                    <div>
                        <input type="text" id="title" class="form-control form-control-lg" name="title" formControlName="title">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div>
                        <h5>Testo introduttivo</h5>
                    </div>
                    <div>
                        <textarea id="introtext" class="form-control" name="introtext" rows="3" formControlName="introtext"></textarea>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-9 col-lg-8">
                    <div>
                        <h5>Contenuto</h5>
                    </div>
                    <div>
                        <textarea id="content" class="form-control" name="content" rows="15" formControlName="content"></textarea>
                    </div>  
                </div>
                <div id="boxes" class="col-12 col-md-3 col-lg-4">
                    <div class="d-flex flex-column px-1 pb-3">
                        <label for="permalink" class="form-label">Permalink</label>
                        <input type="text" id="permalink" class="form-control" name="permalink" formControlName="permalink">
                    </div>
                    <div class="d-flex flex-column px-1 py-3">
                        <label for="categories">Categorie (separate da virgola)</label>
                        <textarea id="categories" class="form-control" name="categories" rows="3" formControlName="categories"></textarea>
                    </div>
                    <div class="d-flex flex-column px-1 py-3">
                        <label for="tags" class="form-label">Tag (separati da virgola)</label>
                        <textarea id="tags" class="form-control" name="tags" rows="3" formControlName="tags"></textarea>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-12 d-flex justify-content-around">
                    <button type="submit" class="btn btn-primary">CREA</button>
                    <button type="reset" class="btn btn-danger">ANNULLA</button>
                </div>
            </div>
        </div>
    </form>
</ng-container>
<ng-template #notshowed>
    <!-- Article not already showed-->
    <ng-container *ngIf="message == ''; else error">
        <!-- Waiting for article data -->
    </ng-container>
    <ng-template #error>
        <!-- error during edit article authorization verification -->
        <app-back [backlink]="backlink"></app-back>
        <div id="divError" class="p-5 rounded mt-3">
            <h1>Modifica articolo</h1>
            <p class="lead">{{message}}</p>
        </div>
    </ng-template>
</ng-template> 


