@use "sass:meta";

$single-selectors-map: (
    '.row-article': (
        '.col': (
            '.title': (
                text-align: center
            ),
        ),
        margin: '20px 0px',
        border-top: 1px solid black,
        border-left: 1px solid black,
        border-right: 1px solid black
    )
);

$compound-selectors-map: (
    '.row-article:last-child': (
        border-bottom: 1px solid black
    ),
    '.row-article:hover': (
        background-color: 'rgba(255,215,0,0.3)',
        cursor: pointer,
        opacity: 0.9,
    ),
    '.row-article:not(:last-child)': (
        border-bottom: '1px solid black'
    )
);

@mixin single-selectors-loop($map){
    @each $key, $value in $map{
        @if meta.type-of($value) == map{
            #{$key}{
                @include single-selectors-loop($value);
            }
        }//@if meta.type-of($value){
        @else{
            #{$key}: #{$value}
        }
    }//@each $key, $value in $map{
}

@mixin compound-selectors-loop($map){
    @each $selector, $properties in $map{
        #{$selector}{
            @each $prop,$val in $properties{
                #{$prop}: #{$val};
            }
        }
    }
}

@mixin article-list-item-style($ss-map,$cs-map){
    @include single-selectors-loop($ss-map);
    @include compound-selectors-loop($cs-map);
}

@include article-list-item-style($single-selectors-map,$compound-selectors-map);