@use "sass:meta";

$single-selectors-map: (
    '.row-article': (
        '.col': (
            '.title': (
                text-align: center
            ),
        ),
        margin: '20px 0px'
    )
);

$compound-selectors-map: (
    'row-article:hover': (
        background-color: 'rgba(255,215,0,0.3)'
        cursor: pointer,
        opacity: 0.9
    ),
    '.row-article:not(:last-child)': (
        border-bottom: '1px solid black'
    )
);

@mixin article-list-item-style($ss-map-map,$cs-map){
    @include single-selectors-loop($ss-map);
    @include compound-selectors-loop($cs-map);
}

@mixin compound-selectors-loop($map){
    @each $selector, $properties in $map{
        #{$selector}{
            @each $prop,$val in $properties{
                #{$prop}: #{$val};
            }
        }
    }
}


@mixin single-selectors-loop($map){
    @each $key, $value in $map{
        @if meta.type-of($value){
            #{$key}{
                @include single-selector-loop($properties);
            }
        }//@if meta.type-of($properties){
        @else{
            #{$key}: #{$value}
        }
    }//@each $selector, $properties in $map{
}

@include article-list-item-style($single-selectors-map,$compound-selectors-map);