<script type="text/javascript">
    var _iub = _iub || [];
    _iub.csConfiguration = {"askConsentAtCookiePolicyUpdate":true,"consentOnContinuedBrowsing":false,"countryDetection":true,"enableLgpd":true,"enableUspr":true,"floatingPreferencesButtonDisplay":"bottom-right","invalidateConsentWithoutLog":"2022-12-31","lgpdAppliesGlobally":false,"perPurposeConsent":true,"siteId":2907955,"whitelabel":false,"cookiePolicyId":94306099,"lang":"it", "banner":{ "acceptButtonDisplay":true,"closeButtonDisplay":false,"continueWithoutAcceptingButtonDisplay":true,"customizeButtonDisplay":true,"explicitWithdrawal":true,"listPurposes":true,"position":"float-top-center","rejectButtonDisplay":true }};
    </script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
