<app-title [title]="title"></app-title>
<app-back [backlink]="backlink"></app-back>
<div class="history-container pt-5">
    <app-block-spinner [spinnerId]="spinnerId" [showSpinner]="!notLoading"></app-block-spinner>
    <div *ngIf="historyItems != null && historyItems.length > 0; then historyItemsList; else historyItemsVoid"></div>
    <ng-template #historyItemsList>
        <app-history-item 
            *ngFor="let item of historyItems" 
            [id]="item.id" 
            [date]="item.action_date" 
            [description]="item.description" 
            [title]="item.title"
            (sendActionId)="onActionIdReceived($event)"
            ></app-history-item>
    </ng-template>
    <ng-template #historyItemsVoid>
        <ng-template #noItems [ngIf]="empty && !error">
            <app-message [message]="messageSecondary"></app-message>
        </ng-template>
        <ng-template #errorMessage [ngIf]="error">
            <app-error [message]="messageError"></app-error>
        </ng-template>
    </ng-template>
</div>
