@use "sass:map";

/* You can add global styles to this file, and also import other style files */
@import 'app/account/profile/my-articles/my-articles.component.scss';
@import 'app/account/profile/new-article/new-article.component.scss';
@import 'app/account/profile/edit-article/edit-article.component.scss';
@import 'app/content/article/comments/comments.component.scss';
@import 'app/account/profile/info/info.component.scss';

$init-top-pos: -15px;

$form-container-map: (
    "class": ".form-container",
    "init-top-pos": $init-top-pos
);

$main-container-map: (
    "class": ".main-container",
    "init-top-pos": $init-top-pos
);

$text-cont-map: (
    "class": ".text-container",
    "init-top-pos": $init-top-pos
);


@mixin keyframes($map){
    $init-top-pos: map.get($map, "init-top-pos");
    @keyframes moves-fade {
        0%{opacity: 0; top: $init-top-pos;}
        100%{opacity: 1; top: 0px;}
    }
}

@mixin animation($map){
    animation-name: map.get($map, "name");
    animation-duration: map.get($map, "duration");
    animation-direction: map.get($map, "direction");
    animation-delay: map.get($map, "delay");
    animation-fill-mode: map.get($map, "fill-mode");
    animation-iteration-count: map.get($map, "count");
    animation-timing-function: map.get($map, "timing-function");
}

@mixin move-appereance-animation($map){
    $map-class: map.get($map,"class");
    $init-top-pos: map.get($map,"init-top-pos");
    $map: (
        "name": moves-fade,
        "duration": 1.5s,
        "direction": normal,
        "delay": 0s,
        "fill-mode": forwards,
        "count": 1,
        "timing-function": linear
    );
    #{$map-class}{
       position: relative;
       top: $init-top-pos;
       @include animation($map); 
    }  
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
