<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold headerPage">News</h1>
      <div class="row mt-5 justify-content-center" [ngClass]="{'d-none':!showSpinner}">
        <div id="news-spinner" class="spinner-grow"  style="width: 3rem; height: 3rem;" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <!-- Show the last posts list -->
      <div *ngIf="!showSpinner && done && !empty">

      </div>
    </div>
  </div>
  <ng-template [ngIf]="!showSpinner && message !== null">
    <!-- Inform the user that there aren't post to show -->
    <ng-template [ngIf]="done && empty">
      <div [ngStyle]="{'padding': '25px 0px', 'text-align': 'center', 'font-size': '20px','font-weight': 'bold'}">
        {{message}}
      </div>
    </ng-template>
    <!-- Error during the loading of the last posts -->
    <ng-template [ngIf]="!done && !empty">
      <div class="alert alert-danger text-center" role="alert">{{message}}</div>
    </ng-template>
  </ng-template>

